@import "tailwindcss";

@theme {
    --font-sans: "SN Pro", sans-serif;
    --color-dark-blue: #253D4E;
    --color-lime: #3BB77E;
    --color-light-bg-lime: #E1F1F0;
    --color-light-bg-red: #FCE3EB;
    --color-light-red :#E62A65;
    --color-bg-gray:#EDF4F6;



}